<h1>Categories</h1>
<hr>
<% if @categories.any? %>
  <ul>
    <% @categories.each do |category| %>
      <li><a href="/categories/<%= category.id %>"><%= category.group %></a></li>
      <br>
    <% end %>
  </ul>
<% else %>
  <p>There are no categories</p>
<% end %>
