<h1>Categories</h1>

<% if @categories.any? %>
  <ul>
    <% @categories.each do |c| %>
      <li><a href="/categories/<%= c.id %>"><% c.group %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no categories</p>
<% end %>

<h3>Add a category: </h3>
<form action="/category" method="post">
  <label for="group">Category:  </label>
  <input type="text" name="group" id="group">
  <button type="submit">Add Categoy</button>
</form>
