<br>
<br>
<br>
<form action="/add" method="post">
  <input type="text" name="name" id="name">
  <label for="name">Recipe Name</label>
  <input type="text" name="ingredients" id="ingredients">
  <label for="ingredients">Ingredients</label>
  <input type="text" name="instructions" id="instructions">
  <label for="instructions">Instructions</label>
  <input type="text" name="category" id="category">
  <label for="category">Tags</label>
  <div class="input-field col s12">
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <label>Rating</label>
  <br>
  <br>
  <br>
  <br>
  <br>
  <button type="submit">Add Recipe</button>
</form>
