<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/scripts.js">

    </script>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container">

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="/recipes">View Recipes</a></li>
        <li class="tab col s3"><a class="active" href="/categories">View Categories</a></li>
        <li class="tab col s3"><a class="active" href="/ingredients">View Ingredients</a></li>
        <li class="tab col s3"><a class="active" href="/add">Add A Recipe</a></li>
      </ul>
    </div>

  </div>
    <div class="container">
      <%= yield %>
    </div>

    <br>
    <hr>
    <br>

    <div id="navigation">
      <ul>
        <li><a href="/">Go Home</a></li>
      </ul>
    </div>


    </div>
  </body>
</html>
