<h1>Recipe: <%= @recipe.name %></h1>
<% if @categories.any? %>
  <h2>Categories: </h2>
  <% @categories.each do |category| %>
    <ul>
      <li><%= category.group %></li>
    </ul>
    <%#binding.pry%>
  <% end %>
<% else %>
  <p>There are no categories for this recipe</p>
<% end %>
